<template>
     <li class="chat-left">
         <img src="#" alt="">
         <p><slot></slot></p>
         <div class="clearfix">
             <small>Hello Support, 4:09 PM</small>
         </div>
     </li>
</template>

<script>

</script>
